res/shaders/render_state.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Define StencilOperation-->
  <xs:simpleType name="StencilOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STENCILOP_KEEP"/>
      <xs:enumeration value="STENCILOP_ZERO"/>
      <xs:enumeration value="STENCILOP_REPLACE"/>
      <xs:enumeration value="STENCILOP_INCRSAT"/>
      <xs:enumeration value="STENCILOP_DECRSAT"/>
      <xs:enumeration value="STENCILOP_INVERT"/>
      <xs:enumeration value="STENCILOP_INCR"/>
      <xs:enumeration value="STENCILOP_DECR"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define CompareFunc-->
  <xs:simpleType name="CompareFunc">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CMP_NEVER"/>
      <xs:enumeration value="CMP_LESS"/>
      <xs:enumeration value="CMP_EQUAL"/>
      <xs:enumeration value="CMP_LESS_EQUAL"/>
      <xs:enumeration value="CMP_GREATER"/>
      <xs:enumeration value="CMP_NOTEQUAL"/>
      <xs:enumeration value="CMP_GREATER_EQUAL"/>
      <xs:enumeration value="CMP_ALWAYS"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define ClearMode-->
  <xs:simpleType name="ClearMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLEAR_NONE"/>
      <xs:enumeration value="CLEAR_COLOR"/>
      <xs:enumeration value="CLEAR_DEPTH"/>
      <xs:enumeration value="CLEAR_STENCIL"/>
      <xs:enumeration value="CLEAR_ALL"/>
      <xs:enumeration value="CLEAR_COLOR_DEPTH"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define FillMode-->
  <xs:simpleType name="FillMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FILL_POINT"/>
      <xs:enumeration value="FILL_WIREFRAME"/>
      <xs:enumeration value="FILL_SOLID"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define CullMode-->
  <xs:simpleType name="CullMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CULL_NONE"/>
      <xs:enumeration value="CULL_FRONT"/>
      <xs:enumeration value="CULL_BACK"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define BlendOperation-->
  <xs:simpleType name="BlendOperation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BLENDOP_ADD"/>
      <xs:enumeration value="BLENDOP_SUBTRACT"/>
      <xs:enumeration value="BLENDOP_REV_SUBTRACT"/>
      <xs:enumeration value="BLENDOP_MIN"/>
      <xs:enumeration value="BLENDOP_MAX"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define BlendFactor-->
  <xs:simpleType name="BlendFactor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BLEND_ZERO"/>
      <xs:enumeration value="BLEND_ONE"/>
      <xs:enumeration value="BLEND_SRC_COLOR"/>
      <xs:enumeration value="BLEND_INVS_SRC_COLOR"/>
      <xs:enumeration value="BLEND_SRC_ALPHA"/>
      <xs:enumeration value="BLEND_INVS_SRC_ALPHA"/>
      <xs:enumeration value="BLEND_DST_ALPHA"/>
      <xs:enumeration value="BLEND_INV_DST_ALPHA"/>
      <xs:enumeration value="BLEND_DST_COLOR"/>
      <xs:enumeration value="BLEND_INV_DST_COLOR"/>
      <xs:enumeration value="BLEND_SRC_ALPHA_SAT"/>
      <xs:enumeration value="BLEND_CONSTANT"/>
      <xs:enumeration value="BLEND_INV_CONSTANT"/>
    </xs:restriction>
  </xs:simpleType>
  <!--Define attribute enabled-->
  <xs:attribute name="enabled" type="xs:boolean" default="false"/>
  <!--Define DepthStateInfo-->
  <xs:complexType name="DepthStateInfo">
    <xs:sequence minOccurs="0">
      <xs:element name="CompareFunc" type="CompareFunc"/>
    </xs:sequence>
      <xs:attribute ref="enabled" default="true"/>
    <xs:attribute name="write_enabled" type="xs:boolean" default="false"/>
  </xs:complexType>
  <!--Define StencilOpInfo-->
  <xs:complexType name="StencilOpInfo">
    <xs:all>
      <xs:element name="SFail" type="StencilOperation"/>
      <xs:element name="ZPass" type="StencilOperation"/>
      <xs:element name="ZFail" type="StencilOperation"/>
    </xs:all>
  </xs:complexType>
  <!--Define StencilOpInfoSeparate-->
  <xs:complexType name="StencilOpInfoSeparate">
    <xs:all>
      <xs:element name="Front" type="StencilOpInfo"/>
      <xs:element name="Back" type="StencilOpInfo"/>
    </xs:all>
  </xs:complexType>
  <!--Define StencilStateInfo-->
  <xs:complexType name="StencilStateInfo">
    <xs:sequence minOccurs="0">
      <xs:element name="Ref" type="xs:hexBinary"/>
      <xs:element name="Mask" type="xs:hexBinary"/>
      <xs:element name="CompareFunc" type="CompareFunc"/>
      <xs:choice>
        <xs:element name="StencilOperation" type="StencilOpInfo"/>
        <xs:element name="StencilOperationSep" type="StencilOpInfoSeparate"/>
      </xs:choice>
    </xs:sequence>
      <xs:attribute ref="enabled" default="false"/>
  </xs:complexType>
  <!--Define RasterizeStateInfo-->
  <xs:complexType name="RasterizeStateInfo">
      <xs:all>
        <xs:element name="FillMode" type="FillMode"/>
        <xs:element name="CullMode" type="CullMode"/>
        <xs:element name="FrontCCW" type="xs:boolean" default="true" minOccurs="0"/>
        <xs:element name="ScissorTest" type="xs:boolean"/>
      </xs:all>
  </xs:complexType>
  <!--Define BlendStateInfo-->
  <xs:complexType name="BlendStateInfo">
      <xs:sequence minOccurs="0">
        <xs:element name="BlendOperation" type="BlendOperation"/>
        <xs:element name="SrcFactor" type="BlendFactor"/>
        <xs:element name="DstFactor" type="BlendFactor"/>
      </xs:sequence>
      <xs:attribute ref="enabled"/>
  </xs:complexType>
  <!--Define RenderState-->
  <xs:complexType name="RenderState">
    <xs:sequence>
      <xs:element name="DepthStateInfo" type="DepthStateInfo"/>
      <xs:element name="RasterizeStateInfo" type="RasterizeStateInfo"/>
      <xs:element name="StencilStateInfo" type="StencilStateInfo" minOccurs="0"/>
      <xs:element name="BlendStateInfo" type="BlendStateInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
    <!--Define Element RenderState-->
  <xs:element name="RenderState" type="RenderState"/>
  <xs:element name="DepthState" type="DepthStateInfo"/>
</xs:schema>