res/shaders/technique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rs="/water/rs" targetNamespace="/water/tech" xmlns:tech="/water/tech"
>
    <xs:import namespace="/water/rs" schemaLocation="render_state.xsd"/>
    <xs:complexType name="Technique">
        <xs:sequence>
            <xs:element name="RenderPass" type="tech:RenderPass" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RenderPass">
        <xs:all>
            <xs:element name="RenderState" type="rs:RenderState"/>
            <xs:element name="VertexShader" type="xs:anyURI"/>
            <xs:element name="GeometryShader" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="PixelShader" type="xs:anyURI"/>
        </xs:all>
        <xs:attribute name="index" type="xs:positiveInteger"/>
    </xs:complexType>

    <!--Define Technique Element-->
    <xs:element name="Technique" type="tech:Technique"/>
</xs:schema>
