res/templates/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="/water" xmlns:water="/water">
    <xs:complexType name="Mesh">
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="mesh_idx" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="Material">
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="mat_idx" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="SubModel">
        <xs:sequence>
            <xs:element name="Mesh" type="water:Mesh"/>
            <xs:element name="Material" type="water:Material"/>
        </xs:sequence>
        <xs:attribute name="index" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="Model">
        <xs:sequence>
            <xs:element name="SubModel" type="water:SubModel" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Model" type="water:Model"/>
</xs:schema>
