res/templates/scene.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="/water" xmlns:water="/water" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="material.xsd"/>
    <xs:complexType name="BaseLight">
        <xs:attribute name="color" type="water:Vector3"/>
        <xs:attribute name="ambiance_intensity" type="xs:float"/>
        <xs:attribute name="diffuse_intensity" type="xs:float"/>
    </xs:complexType>
    <xs:complexType name="DirectionLight">
        <xs:sequence>
            <xs:element name="BaseLight" type="water:BaseLight"/>
        </xs:sequence>
        <xs:attribute name="direction" type="water:Vector3"/>
    </xs:complexType>
    <xs:complexType name="PointLight">
        <xs:sequence>
            <xs:element name="BaseLight" type="water:BaseLight"/>
            <xs:element name="Atten">
                <xs:complexType>
                    <xs:attribute name="constant" type="xs:float"/>
                    <xs:attribute name="linear" type="xs:float"/>
                    <xs:attribute name="exp" type="xs:float"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="position" type="water:Vector3"/>
    </xs:complexType>
    <xs:complexType name="SpotLight">
        <xs:sequence>
            <xs:element name="BaseLight" type="water:BaseLight"/>
            <xs:element name="Atten">
                <xs:complexType>
                    <xs:attribute name="constant" type="xs:float"/>
                    <xs:attribute name="linear" type="xs:float"/>
                    <xs:attribute name="exp" type="xs:float"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="position" type="water:Vector3"/>
        <xs:attribute name="direction" type="water:Vector3"/>
        <xs:attribute name="cutoff" type="xs:float"/>
    </xs:complexType>
    <xs:complexType name="Camera">
        <xs:attribute name="active" type="xs:boolean"/>
        <xs:attribute name="position" type="water:Vector3"/>
        <xs:attribute name="rotation" type="water:Vector3"/>
        <xs:attribute name="fovy" type="xs:float"/>
        <xs:attribute name="znear" type="xs:float"/>
        <xs:attribute name="zfar" type="xs:float"/>
    </xs:complexType>
    <xs:complexType name="Model">
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="position" type="water:Vector3"/>
        <xs:attribute name="rotation" type="water:Vector3"/>
        <xs:attribute name="scale" type="water:Vector3"/>
    </xs:complexType>
    <xs:element name="Scene">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LightConfig">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DirectionLight" type="water:DirectionLight"/>
                            <xs:element name="PointLight" type="water:PointLight" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="SpotLight" type="water:SpotLight" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Camera" type="water:Camera" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Model" type="water:Model" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
