res/templates/technique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="/water" xmlns:water="/water"
>
    <xs:include schemaLocation="render_state.xsd"/>
    <xs:include schemaLocation="material.xsd"/>
    <!-- Define Technique -->
    <xs:complexType name="Technique">
        <xs:sequence>
            <xs:element name="RenderPass" type="water:RenderPass" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Define RenderPass -->
    <xs:complexType name="RenderPass">
        <xs:all>
            <xs:element name="RenderState" type="water:RenderState"/>
            <xs:element name="Program" type="water:Program"/>
        </xs:all>
        <xs:attribute name="index" type="xs:nonNegativeInteger"/>
    </xs:complexType>

    <!-- Define Attribute -->
    <xs:complexType name="Attribute">
        <xs:attribute name="location" type="xs:nonNegativeInteger"/>
        <xs:attribute name="type" type="water:ParamTypeName"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="Uniform">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="water:ParamTypeName"/>
    </xs:complexType>
    <xs:complexType name="Program">
        <xs:sequence>
<!--            <xs:element name="Attribute" type="water:Attribute" minOccurs="1"/>-->
            <xs:element name="Uniform" type="water:Uniform" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name = "vertex_shader" type="xs:anyURI"/>
        <xs:attribute name = "geometry_shader" type="xs:anyURI"/>
        <xs:attribute name = "fragment_shader" type="xs:anyURI"/>
    </xs:complexType>
    <!--Define Technique Element-->
    <xs:element name="Technique" type="water:Technique"/>
</xs:schema>
